<div class="modular-wrapper modular-wrapper--events">
    <section class="container">
        <h2>Events</h2>
        ...
    </section>
    {% include 'partials/page/separator.html.twig' with {direction: 'left', color: 'tertiary'} %}
</div>
