<div class="modular-wrapper modular-wrapper--hero">
    <div class="introduction">
        <section class="container container--no-padding">
            <div class="introduction__image">
                <div class="introduction__gradient introduction__gradient--left"></div>
                {{ media['theme://images/michaelmueller2.jpg'].html('', site.title|e('html'), 'introduction__image-bg') }}
                {#            {% if page == 'home' %}{{ media['theme://images/logo.png'].html('', site.title|e('html'), 'introduction__image-mm') }}{% endif %}#}
                <div class="introduction__gradient introduction__gradient--right"></div>
            </div>
        </section>
    </div>
    {% include 'partials/page/separator.html.twig' with {direction: 'left', color: 'secondary'} %}
</div>
