<div class="modular-wrapper modular-wrapper--news">
    <section class="container">
        <h2>News</h2>
        ...
    </section>
    {% include 'partials/page/separator.html.twig' with {direction: 'right', color: 'secondary'} %}
</div>
