// Colors
$primary-color: purple;
$secondary-color: #000;
$tertiary-color: #fff;
$gray-color: #ddd;

// Layout sizes
$max-width: 1024px;

$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-big-desktop: 1440px;

// Breakpoints
@mixin tablet-up {
  @media (min-width: $bp-tablet) {
    @content;
  }
}
@mixin desktop-up {
  @media (min-width: $bp-desktop) {
    @content;
  }
}
@mixin big-desktop-up {
  @media (min-width: $bp-big-desktop) {
    @content;
  }
}
