@import '../variables';

footer,
.footer {
  color: $tertiary-color;
  text-align: left;
  font-size: 14px;
  line-height: 20px;

  h2 {
    color: $tertiary-color;
  }

  &__content-wrapper {
    height: 200px;
  }

  &__menu {
    a {
      color: $tertiary-color;
    }

    svg {
      height: 30px;
    }
  }

  &__logo {
    img {
      width: 150px;
    }
  }

  &__booking {

  }

  &__management {
    img {
      width: 150px;
    }
  }

  .back-to-top-wrapper {
    color: $tertiary-color;
    font-size: 40px;
    cursor: pointer;
  }
}
