@import '../variables';

footer,
.footer {
  color: $tertiary-color;
  text-align: center;
  font-size: 18px;
  line-height: 20px;

  @include tablet-up {
    text-align: left;
  }

  h3 {
    color: $tertiary-color;
  }

  p {
    font-size: 18px;
    line-height: 22px;

    a {
      color: $tertiary-color;
    }
  }

  &__content-wrapper {
    height: 200px;

    @include tablet-up {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop-up {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &__menu {
    a {
      color: $tertiary-color;
    }

    &-social {
      margin-top: 16px;

      a {
        text-decoration: none;
      }
    }

    svg {
      height: 30px;
      width: 30px;
      margin: 8px 8px 8px 0;
    }
  }

  &__logo {
    margin-bottom: 40px;

    @include desktop-up {
      padding-right: 10px;
    }

    img {
      margin: 0 auto;
      width: 150px;

      @include tablet-up {
        margin: 0;
      }
    }
  }

  &__booking {
    margin-bottom: 40px;

    @include desktop-up {
      padding-right: 10px;
    }

    img {
      width: 200px;
      margin: 0 auto 10px;

      @include tablet-up {
        margin: 0 0 10px 0;
      }

      @include desktop-up {
        width: 140px;
      }

      @include big-desktop-up {
        width: 200px;
      }
    }
  }

  &__management {
    margin-bottom: 40px;

    @include desktop-up {
      padding-right: 10px;
    }

    img {
      width: 100px;
      margin: 0 auto 10px;

      @include tablet-up {
        margin: 0 0 10px 0;
      }
    }
  }

  &__tour-service {
    margin-bottom: 40px;

    @include desktop-up {
      padding-right: 10px;
    }

    img {
      width: 220px;
      margin: 0 auto 10px;

      @include tablet-up {
        margin: 0 0 10px 0;
      }

      @include desktop-up {
        width: 140px;
      }

      @include big-desktop-up {
        width: 210px;
      }
    }
  }

  &__photos {
    margin-bottom: 40px;

    @include desktop-up {
      padding-right: 10px;
    }

    img {
      width: 220px;
      margin: 0 auto 10px;

      @include tablet-up {
        margin: 0 0 10px 0;
      }

      @include desktop-up {
        width: 140px;
      }

      @include big-desktop-up {
        width: 210px;
      }
    }
  }

  .back-to-top-wrapper {
    color: $tertiary-color;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    margin: 40px 0;

    @include tablet-up {
      grid-column: 1 / 4;
      grid-row: 3;
    }

    @include desktop-up {
      grid-column: 1 / 7;
      grid-row: 2;
    }
  }
}
