@import '../variables';

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  background: $secondary-color;
}

a,
a:visited,
a:active {
  color: $primary-color;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0 none;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -.125em;
  overflow: visible;
  width: 1.25em;
  text-align: center;
}
