@import '../variables';

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  background: $secondary-color;
  color: $text-color;
}

a,
a:visited,
a:active {
  color: $primary-color;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

h1,
h2 {
  font-family: 'Mr Dafoe', cursive;
  font-size: 45px;
  color: $secondary-color;
  margin-left: 20px;
  margin-bottom: 16px;

  @include tablet-up {
    font-size: 56px;
  }

  a, a:visited, a:active {
    color: $secondary-color;
    text-decoration: none;
  }
}

h3 {
  color: $primary-color;
  font-size: 20px;

  a, a:visited, a:active {
    text-decoration: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0 none;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -.125em;
  overflow: visible;
  width: 1.25em;
  text-align: center;
}

.hidden {
  display: none;
}

.align-right {
  text-align: right;
}
