@import '../variables';

header,
.header {
  background-color: $secondary-color;
  border-bottom: 1px solid $tertiary-color;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 0 10px 50px 0 rgba(0,0,0,.7);

  .navbar {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-section {
      height: 56px;
      transition: all 0.5s ease;
      align-items: center;
      display: flex;
      flex: 1 0 0;

      @include tablet-up {
        height: 80px;
      }

      &.desktop-menu {
        display: none;

        @include tablet-up {
          display: flex;
        }
      }

      &.mobile-menu-toggle {
        @include tablet-up {
          display: none;
        }

        .button__icon {
          font-size: 22px;
          color: $tertiary-color;
          cursor: pointer;
        }
      }

      &:not(:first-child) {
        justify-content: flex-end;
      }

      &.logo {
        text-decoration: none;

        img {
          display: inherit;
          transition: height 0.5s ease;
          height: 40px;

          @include tablet-up {
            height: 60px;
          }
        }
      }

      nav {
        display: block;
      }

      .dropmenu {
        ul {
          white-space: nowrap;
          margin: 0;
          display: flex;
        }

        &.animated {
          ul li {
            transition: background 0.7s, color 0.5s;
            position: relative;
            margin: 0;

            &:hover > ul {
              display: block;
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
            }

            a {
              text-decoration: none;
              padding: 7px 30px 7px 20px;
              display: block;
              color: $gray-color;
              font-size: 16px;

              &:hover {
                color: $tertiary-color;
                transition: color 0.3s ease-in-out;
              }

              &.active {
                color: $tertiary-color;
                font-weight: bold;
              }

              &:only-child {
                padding-right: 20px;
              }
            }
          }

          ul ul {
            transition: transform 0.3s, opacity 0.5s;
            opacity: 0;
            transform: translateY(-10px);
            position: absolute;
            top: 100%;
            list-style: none;
            background: #fff;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            visibility: hidden;

            a,
            a.active {
              color: $secondary-color;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }

        & > ul > li {
          display: inline-block;
        }
      }
    }
  }

  &.scrolled {
    .navbar {
      &-section {
        height: 56px;

        &.logo {
          img {
            height: 30px;
          }
        }
      }
    }
  }
}
