@import '../variables';

.introduction {
  margin-top: 36px;

  @media (min-width: $bp-tablet) {
    margin-top: 70px;
  }

  &__image {
    position: relative;

    img {
      width: 100%;
      height: calc(100vh + 20px);
      object-fit: cover;
      font-family: 'object-fit: cover'; // For object-fit-images polyfill
    }
  }

  &--small {
    height: 300px;
  }

  &__gradient {
    height: 100%;
    width: 100px;
    position: absolute;

    &--left {
      background: linear-gradient(to right, $secondary-color, rgba(0, 0, 0, 0));
      top: 0;
      left: 0;
    }

    &--right {
      background: linear-gradient(to left, $secondary-color, rgba(0, 0, 0, 0));
      top: 0;
      right: 0;
    }
  }
}
