@import '../variables';

.introduction {
  margin-top: 46px;

  @media (min-width: $bp-tablet) {
    margin-top: 70px;
  }

  &__image {
    position: relative;

    &-bg {
      width: 100%;
      height: calc(100vh + 20px);
      object-fit: cover;
      font-family: 'object-fit: cover'; // For object-fit-images polyfill
    }

    &-mm {
      width: 60vw;
      position: absolute;
      bottom: 150px;
      right: 50px;
      max-width: 250px;

      @media (min-width: $bp-tablet) {
        max-width: 300px;
      }

      @media (min-width: $bp-desktop) {
        right: 100px;
        max-width: 350px;
      }
    }

    &-member {
      position: absolute;
      bottom: 100px;
      right: 50px;
      font-family: 'Mr Dafoe', cursive;
      font-size: 45px;
      color: $tertiary-color;
      max-width: 80vw;
      text-align: right;
      text-shadow: 1px 1px 7px $secondary-color;

      @media (min-width: $bp-tablet) {
        bottom: 125px;
        font-size: 56px;;
      }

      @media (min-width: $bp-desktop) {
        bottom: 150px;
        right: 100px;
      }
    }
  }

  &--small {
    height: 300px;

    .introduction__image {
      &-bg {
        height: 300px;
      }
    }
  }

  &--member {
    height: 500px;
    margin-top: -25px;

    @media (min-width: $bp-tablet) {
      margin-top: -50px;
    }

    .introduction__image {
      &-bg {
        height: 500px;
      }
    }
  }

  &__gradient {
    height: 100%;
    width: 50px;
    position: absolute;

    @media (min-width: $bp-tablet) {
      width: 100px;
    }

    &--left {
      background: linear-gradient(to right, $secondary-color, rgba(0, 0, 0, 0));
      top: 0;
      left: 0;
    }

    &--right {
      background: linear-gradient(to left, $secondary-color, rgba(0, 0, 0, 0));
      top: 0;
      right: 0;
    }
  }
}
