@import '../variables';

.introduction {
  margin-top: 46px;

  @media (min-width: $bp-tablet) {
    margin-top: 70px;
  }

  &__image {
    position: relative;

    &-bg {
      width: 100%;
      height: calc(100vh + 30px);
      object-fit: cover;
      object-position: 38% 16%;
      font-family: 'object-fit: cover'; // For object-fit-images polyfill

      &--contain {
        @media (min-width: $bp-tablet) {
          object-fit: contain;
          object-position: unset;
          font-family: 'object-fit: contain'; // For object-fit-images polyfill
        }
      }
    }

    &-mm {
      width: 60vw;
      position: absolute;
      bottom: 150px;
      right: 50px;
      max-width: 150px;

      @media (min-width: $bp-tablet) {
        max-width: 200px;
      }

      @media (min-width: $bp-desktop) {
        right: 100px;
        max-width: 250px;
      }
    }

    &-member {
      position: absolute;
      bottom: 60px;
      right: 50px;
      font-family: 'Stadt', 'Archivo Black', sans-serif;
      font-size: 30px;
      letter-spacing: 1px;
      color: $primary-color;
      max-width: 80vw;
      text-align: right;
      text-shadow: 1px 1px 2px $tertiary-color;

      @media (min-width: $bp-tablet) {
        bottom: 80px;
        font-size: 40px;;
      }

      @media (min-width: $bp-desktop) {
        bottom: 100px;
        right: 100px;
      }
    }
  }

  &--small {
    height: 300px;

    .introduction__image {
      &-bg {
        height: 300px;
      }
    }
  }

  &--member {
    height: 400px;
    margin-top: -25px;

    @media (min-width: $bp-tablet) {
      margin-top: -50px;
      height: 550px;
    }

    @media (min-width: $bp-desktop) {
      height: 750px;
    }

    .introduction__image {
      &-bg {
        height: 400px;
        object-position: top;

        @media (min-width: $bp-tablet) {
          height: 550px;
          object-fit: cover;

          font-family: 'object-fit: cover'; // For object-fit-images polyfill
        }

        @media (min-width: $bp-desktop) {
          object-position: 0 10%;
          height: 750px;
        }
      }
    }
  }

  &__gradient {
    height: 100%;
    width: 50px;
    position: absolute;

    @media (min-width: $bp-tablet) {
      width: 100px;
    }

    &--left {
      background: linear-gradient(to right, $secondary-color, rgba(0, 0, 0, 0));
      top: 0;
      left: 0;
    }

    &--right {
      background: linear-gradient(to left, $secondary-color, rgba(0, 0, 0, 0));
      top: 0;
      right: 0;
    }
  }
}
