@import '../variables';

main,
.main {
  padding-bottom: 40px;
  padding-top: 1px;
  background: $tertiary-color;

  &--modular {
    background: inherit;

    .base-headline--modular {
      display: none;
    }

    .modular-wrapper--member:first-of-type .introduction--member {
      margin-top: 46px;

      @media (min-width: $bp-tablet) {
        margin-top: 70px;
      }
    }
  }

  @include tablet-up {
    padding-bottom: 80px;
  }

  article {
    ul, ol {
      margin-left: 16px;
    }
  }

  .child-separator {
    border-top: 2px solid $primary-color;
    margin-top: 32px;
    position: relative;
    height: 16px;

    &__content {
      background: $tertiary-color;
      color: $primary-color;
      position: absolute;
      top: -22px;
      left: 32px;
      font-size: 22px;
      padding: 5px;
    }
  }

  .snippet {
    margin: 16px 0;
    padding: 16px;
    background: $light-gray-color;
    border-radius: 10px;

    &__datetime {
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 8px;
      display: block;
    }

    &__date-circle {
      width: 50px;
      height: 50px;
      border: 2px solid $primary-color;
      border-radius: 50px;
      color: $primary-color;
      text-align: center;
      margin-right: 16px;

      &-month {
        font-size: 16px;
        margin-top: 3px;
        font-weight: bold;
      }

      &-day {
        font-size: 24px;
        line-height: 18px;
      }
    }

    &__info {
      &-headline {
        margin-bottom: 8px;
      }
    }

    &--event {
      display: flex;
      justify-items: flex-start;

      .snippet__info {
        width: calc(100% - 66px);

        h3 {
          margin-top: 2px;
          margin-bottom: 0;
          line-height: 24px;
        }
      }

      .snippet__info-content {
        font-weight: bold;
      }
    }
  }
}
