@import '../variables';

main,
.main {
  padding-bottom: 40px;
  padding-top: 1px;
  background: $tertiary-color;

  @media (min-width: $bp-tablet) {
    padding-bottom: 80px;
  }

  article {
    ul, ol {
      margin-left: 16px;
    }
  }
}
