@import '../variables';

.modular-wrapper {
  .container {
    min-height: 200px;
  }

  &--welcome,
  &--news {
    background: $tertiary-color;
  }

  &--news,
  &--contact {
    color: $tertiary-color;
  }
}
