@import '../variables';

.modular-wrapper {
  .container {
    min-height: 200px;
  }

  &--welcome,
  &--news {
    background: $tertiary-color;

    .container {
      margin-bottom: 100px;
    }
  }

  &--events,
  &--contact {
    color: $tertiary-color;

    .container {
      margin-bottom: 100px;
    }

    h2 {
      color: $tertiary-color;
    }
  }

  &--events {
    padding-top: 24px;

    .child-separator__content {
      background: $secondary-color;
      color: $tertiary-color;
    }

    .snippet--event {
      background: $secondary-color;
    }

    .snippet__date-circle {
      border-color: $tertiary-color;
      color: $tertiary-color;
    }

    .snippet__info-headline {
      color: $tertiary-color;
    }

    .snippet__info-content {
      color: $gray-color;
    }
  }

  &--contact {
    padding-top: 24px;

    .contact-text {
      a {
        color: $tertiary-color;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .call-to-action {
      margin-top: 32px;
    }

    @include tablet-up {
      .contact-content {
        display: flex;
      }

      .call-to-action {
        flex-basis: 50%;
        padding: 0 15px;

        &:first-child {
          justify-content: flex-end;
          display: flex;
        }

        .btn {
          max-width: 400px;
        }
      }
    }
  }
}
