@import '../variables';

.separator {
  position: relative;
  margin-top: -49px;
  height: 49px;

  @include tablet-up {
    margin-top: -100px;
    height: 100px;
  }

  svg {
    display: block;
    height: 50px;
    width: 100%;

    @include tablet-up {
      height: 100px;
    }
  }

  path.top {
    fill: transparent;
  }

  path.bottom {
    fill: $primary-color;
  }

  &--secondary {
    path.bottom {
      fill: $secondary-color;
    }
  }

  &--tertiary {
    path.bottom {
      fill: $tertiary-color
    }
  }
}

.double-separator {
  position: relative;
  margin-top: -24px;
  z-index: 2;

  @include tablet-up {
    margin-top: -50px;
  }

  svg {
    display: block;
    height: 25px;
    width: 100%;

    @include tablet-up {
      height: 50px;
    }
  }

  path.top {
    fill: transparent;
  }

  path.bottom {
    fill: $primary-color;
  }

  &--secondary {
    path.bottom {
      fill: $secondary-color;
    }
  }

  &--tertiary {
    path.bottom {
      fill: $tertiary-color
    }
  }
}
