{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="container">
        <div class="snippet">
            {{ page.content|raw }}
        </div>
    </section>
{% endblock %}
