{% extends 'partials/base.html.twig' %}

{% block content %}
    <section id="error" class="container">
		<h3>Error {{ page.header.http_response_code }}</h3>
		<p>
			{{ page.content }}
		</p>
    </section>
{% endblock %}
