{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="container">
        {# ARTICLE HEAD #}
        {% block item_head %}
            {% include 'partials/item/header.html.twig' %}
        {% endblock %}

        {{ page.content|raw }}

        {# CHILD PAGES #}
        {% block children %}
            {% include 'partials/item/children.html.twig' %}
        {% endblock %}

        {# ARTICLE FOOTER #}
        {% block item_footer %}
            {% include 'partials/item/footer.html.twig' %}
        {% endblock %}
    </section>
{% endblock %}
