<div class="double-separator{{ direction ? ' double-separator--' ~ direction : '' }}{{ color ? ' double-separator--' ~ color : '' }}">
    <svg class="side double-separator__left" viewBox='0 0 100 100' preserveAspectRatio='none'>
        <path d='m 0,0 h 100 l -100,95z' class='top' />
        <path d='m 100,100 h -100 l 0,-90z' class='bottom' />
    </svg>
    <svg class="side double-separator__left double-separator--second" viewBox='0 0 100 100' preserveAspectRatio='none'>
        <path d='m 0,0 h 100 l 100,183z' class='bottom' />
    </svg>
</div>
