<section class="container">
    <nav class="navbar">
        <section class="navbar-section logo">
            <a href="{{ home_url }}">{{ media['theme://images/logo.png'].html('', site.title|e('html')) }}</a>
        </section>
        <section class="navbar-section desktop-menu">
            <nav class="dropmenu animated">
                {% block header_navigation %}
{#                    {% include 'partials/page/navigation.html.twig' %}#}
                    <ul>
                        <li>
                            <a href="/">
                                Startseite
                            </a>
                        </li>
                        <li>
                            <a href="javascript:scrollToElement('modular-welcome')">
                                Michael Müller
                            </a>
                        </li>
                        <li>
                            <a href="javascript:scrollToElement('modular-events')">
                                Termine
                            </a>
                        </li>
                        <li>
                            <a href="javascript:scrollToElement('modular-tracks')">
                                Songs
                            </a>
                        </li>
                        <li>
                            <a href="javascript:scrollToElement('footer-contact')">
                                Kontakt
                            </a>
                        </li>
                        <li>
                            <a href="/band" class="">
                                Band
                            </a>
                        </li>
                        <li>
                            <a href="/infos" class="">
                                Infos
                            </a>
                        </li>
                    </ul>
                {% endblock %}
            </nav>
        </section>
        <section class="navbar-section mobile-menu-toggle">
            <span class="button__icon toggle-mobile-menu" onclick="toggleMobileMenu()">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="custom-burger" class="svg-inline--fa" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 332"><path fill="currentColor" d="M23 0A23 23 0 0 0 0 23a23 23 0 0 0 23 23h466a23 23 0 0 0 23-23 23 23 0 0 0-23-23zm0 143a23 23 0 0 0-23 23 23 23 0 0 0 23 23h466a23 23 0 0 0 23-23 23 23 0 0 0-23-23zm186 143a23 23 0 0 0-23 23 23 23 0 0 0 23 23h280a23 23 0 0 0 23-23 23 23 0 0 0-23-23z"></path></svg>
            </span>
        </section>
    </nav>
</section>
