{% if template != 'modular' %}
<div class="introduction">
    <section class="container container--no-padding">
        <div class="introduction__image">
            <div class="introduction__gradient introduction__gradient--left"></div>
            {{ media['theme://images/teaser1440.jpg'].html('', site.title|e('html')) }}
            <div class="introduction__gradient introduction__gradient--right"></div>
        </div>
    </section>
</div>
{% endif %}
