{% set collection = page.collection()|length > 0 ? page.collection() : page.children.visible %}

{% if collection|length > 0 %}
    {% set year = '' %}

    {% for child in collection %}
        {% if child.header.event_date|date('Y-m-d') >= 'now'|date('Y-m-d') %}
            {% if year != child.header.event_date|date('Y') %}
                {% set year = child.header.event_date|date('Y') %}
                <div class="child-separator"><div class="child-separator__content">{{ child.header.event_date|date('Y') }}</div></div>
            {% endif %}
            {% include 'partials/item/event-summary.html.twig' with {'page':child, parent:page} %}
        {% endif %}
    {% endfor %}

    {% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/page/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
    {% endif %}
{% endif %}
